/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0px;
}

/*navbar*/
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgba(225, 30, 228, 0.37);
}

.navbar-logo {
    justify-self: start;
    justify-content: center;
    margin-left: 30px;
    font-size: 35px;
    margin-top: 4vh;
    color: #070707;
    cursor: pointer;
    
}

.ver-carrito {
    font-size: 35px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
}

/*Shop Inicio*/
.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url("../img/shopkonton.jpg");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 4px rgba(165, 84, 247, 0.911);
    font-size: 90px;
    font-weight: bold;
}

.banner p {
    font-size: 35px;
    color: black;
    opacity: 0.7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/*Products Card*/
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card>img {
    width: 90%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/*Modal-content*/
.modal-container {
    width: 70%;
    margin: 0 10%;
    max-width: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*para arriba*/
    position:fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/*Boton de borrar productos*/
.delete-product {
    cursor: pointer;
}

/*Contador carrito*/
.cantidad-carrito {
    background-color: red;
    color:white;
    border-radius:70%;
    font-size:15px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position:absolute;
    display: none;
}

/*Resta*/
.restar {
    cursor: pointer;
}

/*Suma*/
.sumar {
    cursor: pointer;
}

/*Buscador de producto*/
.search-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.results-list {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    font-size: 22px;
}

.results-list li {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.no-results {
    font-size: 20px;
    color:#666;
    text-align: center;
    display: none;
}

/*Footer*/
.footer {
    display: block;
    justify-content: center !important;
    background-color: #edb2dbd0;
    padding: 0.5rem !important;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.footer-redes {    
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    width: 200px;
}

.footer-redes a {
    margin: 4px;
    padding: 2px;
}


.copyright {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 0.5rem !important;
    margin-left: 1.5rem !important;
    font-size: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.img-redes {
    display: flex;
    width: 100%;
}